<h2>Información de Usuario</h2>
<form class="center">
  <div class="form-group w-50">
    <label for="exampleInputEmail1">Usuario</label>
    <input name="name" type="text" class="form-control" [(ngModel)]="contact.name" placeholder="Nombre" />
  </div>
  <div class="form-group w-50">
    <label for="exampleInputPassword1">Email</label>
    <input name="name" type="email"  class="form-control" [(ngModel)]="contact.email" placeholder="Email" />
  </div>
</form>
<button class="btn btn-primary" (click)="EnviarInformacion()">Guardar</button>
