
<content>
  <p *ngIf="!forecasts"><em>Loading...</em></p>
  <h3>Comics</h3>
  <hr />
  <div class="row">

    <div *ngFor="let forecast of forecasts" class="col-md-4" style="padding-bottom:1%">
      <div class="card" style="width: 18rem;">
        <img src="{{forecast.thumbnail.path}}.{{forecast.thumbnail.extension}}" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{forecast.name}}</h5>
          <p class="card-text text-justify">{{forecast.description}}</p>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" (click)="EnviarInformacion(forecast, 'Detalle')">Detalle</button>
            <button type="button" class="btn btn-secondary" (click)="EnviarInformacion(forecast, 'Wiki')">Wiki</button>
            <button type="button" class="btn btn-danger" (click)="EnviarInformacion(forecast, 'Comics')">Comics</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</content>
